@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #dfdfdf;
}

.calcheight {
  min-height: calc(100vh - 212px);
}
@media only screen and (max-width: 1100px) {
  .calcheight {
    min-height: calc(100vh - 173px) !important;
  }
}

.image-shadow {
  /* https://smoothshadows.com/#djEsMiw1LDAuMjEsMjc1LC0zLDAsIzRmYzRhYiwjZmZmZmZmLCNmZmZmZmYsMg%3D%3D */
  box-shadow: 0px -0px 11px rgba(79, 196, 171, 0.21),
    0px -0px 44px rgba(79, 196, 171, 0.17),
    0px -1px 99px rgba(79, 196, 171, 0.13),
    0px -2px 176px rgba(79, 196, 171, 0.08),
    0px -3px 275px rgba(79, 196, 171, 0.04);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #4fc4aba8;
}

::-webkit-scrollbar-thumb {
  background: #007063;
}

.creative-break {
  position: absolute;
  background: #007063;
  height: 4px;
  width: 350px;
  margin: auto;
}
.diamond {
  background: #007063;
  height: 9px;
  width: 9px;
  position: absolute;
  transform: rotate(38deg) skewY(15deg);
  top: -3px;
}
.left-diamond {
  right: -3px;
}

@media only screen and (max-width: 400px) {
  .creative-break {
    width: 230px !important;
  }
}
.shadowText {
  text-shadow: 5px 5px 10px #00000078;
}

/*Creative Card */
@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-bg {
  background-image: linear-gradient(360deg, #53ffda, #038f7f);
  transition: all 0.3s linear;
}

.animate-rotBGimg {
  animation: rotBGimg 6s linear infinite;
}
/*Creative Button */
.polygon-clip {
  --color: #038f7f;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.polygon-left-arrow {
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

.polygon-right-arrow {
  clip-path: polygon(100% 49%, 0 0, 0 100%);
}

.corner {
  background-color: #27c39f;
  box-shadow: inset 1px 1px 8px #038f7f;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

button:hover #clip {
  animation: greenLight8 0.2s ease-in-out 0.55s both;
  --color: #27c39f;
}

button:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

button:hover #leftTop {
  animation: changeColor8 0.1s ease-in-out 0.05s both,
    lightEffect8 0.2s linear 0.4s both;
}

button:hover #rightTop {
  animation: changeColor8 0.1s ease-in-out 0.15s both,
    lightEffect8 0.2s linear 0.4s both;
}

button:hover #rightBottom {
  animation: changeColor8 0.1s ease-in-out 0.25s both,
    lightEffect8 0.2s linear 0.4s both;
}

button:hover #leftBottom {
  animation: changeColor8 0.1s ease-in-out 0.35s both,
    lightEffect8 0.2s linear 0.4s both;
}

@keyframes changeColor8 {
  from {
    background-color: #53ffda;
  }
  to {
    background-color: #038f7f;
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #038f7f;
  }
  to {
    box-shadow: 0 0 2px #27c39f;
  }
}

@keyframes greenLight8 {
  from {
  }
  to {
    box-shadow: inset 0px 0px 32px #27c39f;
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }
  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }
  to {
    transform: translateX(-10px);
  }
}

button:hover #rightArrow {
  background-color: #038f7f;
  left: -15%;
  animation: rightArrow8 0.6s ease-in-out both infinite alternate;
}

button:hover #leftArrow {
  background-color: #038f7f;
  left: 103%;
  animation: leftArrow8 0.6s ease-in-out both infinite alternate;
}

/* Loader */

main-loader {
  height: 100vh;
  background-color: rgba(253, 253, 253, 0.925);
}

.main-fader {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(248, 248, 248, 0.671);
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      height: 300px;
      display: block;
      margin: 0 auto;
      path {
        animation-duration: 1s;
        animation-name: pulse;
        animation-iteration-count: infinite;
        color: #26a380;

        &.path-7 {
          animation-delay: -1s;
        }
        &.path-6 {
          animation-delay: -0.875s;
        }
        &.path-5 {
          animation-delay: -0.75s;
        }
        &.path-4 {
          animation-delay: -0.625s;
        }
        &.path-3 {
          animation-delay: -0.5s;
        }
        &.path-2 {
          animation-delay: -0.375s;
        }
        &.path-1 {
          animation-delay: -0.25s;
        }
        &.path-0 {
          animation-delay: -0.125s;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.1;
  }
}
